In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.style as style
style.use('ggplot')
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('final_data.csv')
df.head()

   red  green  blue  label
0   20    139   240   Blue
1  174     83    72  Brown
2  144    249   131  Green
3  168     25   156   Pink
4   30    182   136  Green

In [4]:
le = LabelEncoder()
df['label_encoded'] = le.fit_transform(df['label'])

In [5]:
df.head()

   red  green  blue  label  label_encoded
0   20    139   240   Blue              1
1  174     83    72  Brown              2
2  144    249   131  Green              3
3  168     25   156   Pink              6
4   30    182   136  Green              3

In [6]:
df[['label', 'label_encoded']].value_counts()

label   label_encoded
Green   3                1457
Blue    1                1107
Pink    6                 579
Purple  7                 553
Brown   2                 376
Yellow  10                285
Red     8                 236
Orange  5                 205
Grey    4                 174
Black   0                  51
White   9                  29
dtype: int64

In [9]:
X = df[['red', 'green', 'blue']]
X

      red  green  blue
0      20    139   240
1     174     83    72
2     144    249   131
3     168     25   156
4      30    182   136
...   ...    ...   ...
5047   26     26    26
5048   27     27    27
5049   28     28    28
5050   29     29    29
5051   30     30    30

[5052 rows x 3 columns]

In [10]:
y = df['label_encoded']
y

0       1
1       2
2       3
3       6
4       3
       ..
5047    0
5048    0
5049    0
5050    0
5051    0
Name: label_encoded, Length: 5052, dtype: int32

In [45]:
# Making a demo with train and testing data
test_model = KNeighborsClassifier(n_neighbors = 10)
test_model

KNeighborsClassifier(n_neighbors=10)

In [46]:
train_X, val_X, train_y, val_y = train_test_split(X, y, test_size=0.2, random_state=2)

In [47]:
test_model.fit(train_X, train_y)

KNeighborsClassifier(n_neighbors=10)

In [48]:
pred_y = test_model.predict(val_X)

In [49]:
accuracy_score(pred_y, val_y)

0.847675568743818

Real

In [11]:
model = KNeighborsClassifier(n_neighbors = 3)
model

KNeighborsClassifier(n_neighbors=3)

In [13]:
model.fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [15]:
model.predict([[151, 41, 25]])

array([2])

In [16]:
def return_colorname(label):
    color_to_label = df[['label', 'label_encoded']].value_counts().index
    for index, name in enumerate(color_to_label):
        if(color_to_label[index][1] == label):
            return str(color_to_label[index][0])

In [51]:
return_colorname(model.predict([[10, 41, 25]]))

'Green'